<!DOCTYPE html>
<html>
	<head>
	<title>Music Chart</title>
	 <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>

	<body>
		<p style="color:blue;font-size:300%;text-align:center;"> --뮤직 차트--</p>
		<p style="color:black;font-size:200%;text-align:center;"> 요즘 유행하는 노래를 한 눈에!</p>
		<br/>
		<hr/>
		<p style="color:black;font-size:200%;text-align:center;"> 차트를 만들 곡의 개수를 입력해주세요.</p>
		<br/>
		<form action="/chart" method="GET">
			<p style="color:black;font-size:200%;text-align:center;">검색할 곡 수 : <input type="text" name="input">
			</p>
		</form>
		</br>
		<hr/>

	</body>
</html>
