<!DOCTYPE html>
<html>
<head>
	<title>Music Chart</title>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://www.youtube.com/iframe_api"></script>	

	<!-- 각자 필요한 json 파일-->
	<script src="../static/ranks.json" type="text/javascript"></script>
	<script src="../static/similars.json" type="text/javascript"></script>
	<script src="../static/genres.json" type ="text/javascript"></script>
	<script>
		var rank_length  = {{rank_length}}
	</script>
</head>
<body>
	<p style="color:blue;font-size:300%;text-align:center;"> --뮤직 차트--</p>
	<p style="color:black;font-size:200%;text-align:center;"> 요즘 유행하는 노래를 한 눈에!</p>
	<br/>
	<hr />
	<p style="color:black;font-size:200%;text-align:center;"> Melon, Bugs, Genie 3개 사이트에서의 평균 순위입니다.</p>

	<h1>
	<script language="JavaScript">
		let rank = JSON.parse(ranks);

		document.write("앨범아트/ /순위/ /타이틀/ /가수");
		document.write("<br/>");
		
		for (var i = 0; i < rank_length; i++) {
			document.write("<img src=\"");
			document.write(rank[i].img);
			document.write("\" style=\"width: 60px; height:auto;\">");

			document.write((i + 1)+". ");
			document.write(rank[i].title);
			document.write("/	/");
			document.write(rank[i].singer);
			document.write("<br/>");
			document.write("<hr />");
		}
	</script>
	</h1>	
	<!-- 유사도 보여주는 부분-->
	<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
	<script language="JavaScript">
		let sim = JSON.parse(similars);
	$(function() {
		 
		var chart = {
		type: 'bar'
  		 };
  		 var title = {
     		 text: '사이트 별 유사도'   
  		 };
  		 var subtitle = {
 		 text: '상위 10개곡' 
  		 };
  		 var xAxis = {
    		 categories: ['Melon', 'Bugs', 'Genie'],
     		 title: {
       			 text: null
     			 }
  		 };
		 var yAxis = {
     		 min: 0,
     		 title: {
        		 text: null,
      			 align: 'high'
     			 },
     		 labels: {
    		 	overflow: 'justify'
     			 }
  		 };
  		 var tooltip = {
     			 valueSuffix: null 
  		 };
  		 var plotOptions = {
     			 bar: {
        			 dataLabels: {
           				 enabled: true
        			 }
     			 },
	 	 	series: {
	    			stacking: 'normal'
	 		 }
  		 };
  		 var legend = {
     			 layout: 'vertical',
     			 align: 'right',
     			 verticalAlign: 'top',
     			 x: -40,
     			 y: 100,
      			 floating: true,
     			 borderWidth: 1,
     			 backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
     			 shadow: true
  		 };
  		 var credits = {
     			 enabled: false
  		 };
   
 		 var series= [{
        		 name: '유사도',
           		 data: [sim[0].melon, sim[1].bugs, sim[2].genie]
       		 }];
      
   		var json = {};   
  		json.chart = chart; 
  		json.title = title;   
  		json.subtitle = subtitle; 
  		json.tooltip = tooltip;
   		json.xAxis = xAxis;
   		json.yAxis = yAxis;  
   		json.series = series;
   		json.plotOptions = plotOptions;
   		json.legend = legend;
   		json.credits = credits;
   		$('#container').highcharts(json);
  
	});
	</script>

	<hr />
	<p style="color:black;font-size:300%;text-align:center;"> --요즘 유행하는 장르는?--</p>	
	<p style="color:gold;font-size:300%;text-align:center;"> 
	
	<script language="JavaScript">
		let gen = JSON.parse(genres);
		document.write("1위: ");
		document.write(gen[0].genre);
		document.write("<br/>");	
	</script>
	</p>
	
	<p style="color:black;font-size:300%;text-align:center;"> 
	
	<script language="JavaScript">
		for (var i = 1; i < gen.length; i++) {
			document.write((i + 1)+"위: ");
			document.write(gen[i].genre);
			document.write("<br/>");	
		}
	</script>
	</p>
	

	
</body>
</html>
