<html>
<head>
	<script type="text/javascript" src="./ranks.json"></script>
	<script type="text/javascript" src="./similars.json"></script>
	<script type="text/javascript" src="./genres.json"></script>

</head>
<body>
	<script language="JavaScript">
	
		let rank = JSON.parse(ranks);
		for (var i = 0; i < 4; i++) {
                        document.write((i + 1)+". ");
                        document.write(rank[i].title);
                        document.write("        ");
                        document.write(rank[i].singer);
                        document.write("<br/>");
                        document.write("<hr />");
                }

		let sim = JSON.parse(similars);
		document.write(sim[0].melon);
		document.write("<br/>");
		document.write(sim[1].bugs);		
		
		let gen = JSON.parse(genres);
		document.write(gen[0].genre);
		document.write(gen[0].ratio * 100);
	</script>
</body>
</html>
